<h1>Registration</h1>

<div id="new_member">
<%= form_for @diner do |f| %>
	<p class="field">
		<%= f.label :name %>
		<%= f.text_field :name %>
	</p>
	<p class="field">
		<%= f.label :email %>
		<%= f.text_field :email %>
	</p>
	<p class="field">
		<%= f.label :password %>
		<%= f.password_field :password %>
	</p>
	<p class="field">
		<%= f.label :password_confirmation %>
		<%= f.password_field :password_confirmation %>
	</p>
	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>
</div>