<h1>Reservation</h1>

<!-- <div id="new_reservation">

<%= select :party_size, nil, 1..50 %>

<%= datetime_select(:reservation_time, :prompt => {:day => 'Choose day', :month => 'Choose month', :year => 'Choose year', :hour => true}) %>
	
<%= submit_tag nil, :class => "form_submit" %>
</div> -->

<div id="new_member">
<%= form_for @reservation do |f| %>
	<p class="field">
		<%= f.label :party_size %><br>
		<%= f.select :party_size, 1..10 %>
	</p>
	<p class="field">
		<%= f.label :reservation_time %><br>
		<%= f.datetime_select :reservation_time %>
	</p>
	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>
</div>